<html>
  <head>
      <title>Gold</title>
  </head>
  <body>
    <div>
      <h1><a href="">A Link from here to here</a></h1>
    </div>

    <div>
      <h2><a href="">Here</a></h2>
      <p>You are free and that is why you are lost.</p>
      <p>FRANZ KAFKA</p>
    </div>

    <div>
      <h2><a href="">Here #2</a></h2>
      <p>A first sign of the beginning of understanding is the wish to die.</p>
      <p>FRANZ KAFKA</p>
    </div>

    <div>
      <h2><a href="">Here #3</a></h2>
      <p>All that remains is a fate whose outcome alone is fatal. Outside of that single fatality of death, everything, joy or happiness, is liberty. A world remains of which man is the sole master. What bound him was the illusion of another world.</p>
      <p>ALBERT CAMUS</p>
  </body>
</html>
